h1.pb-4.mb-4.border-bottom.h3 = t('views.categories.new')

= render 'web/admin/categories/partials/form', category: @category,
                                               url: new_admin_category_url,
                                               type: :new
